/* section adding elements */

.dynamic-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.dynamic-list__item {
  width: 200px;
  padding: 1rem;
  background: var(--color-primary);
}

/* section basic */

.list-basic {
  view-transition-name: list-basic;
}

::view-transition-group(list-basic) {
  animation-duration: var(--duration-basic);
}

/* section basic */

.list-basic-2 {
  view-transition-name: list-basic-2;
}

::view-transition-group(list-basic-2) {
  animation-duration: var(--duration-basic-2);
}

/* section name-on-li */

/*
Not needed - set name directly with js
#list-item-name-on-li-1 {
  view-transition-name: list-item-name-on-li-1;
}
#list-item-name-on-li-2 {
  view-transition-name: list-item-name-on-li-2;
}
#list-item-name-on-li-3 {
  view-transition-name: list-item-name-on-li-3;
}
#list-item-name-on-li-4 {
  view-transition-name: list-item-name-on-li-4;
}
*/

/*
error-prone and not DRY; use view-transition-class instead
::view-transition-group(list-item-name-on-li-1),
::view-transition-group(list-item-name-on-li-2),
::view-transition-group(list-item-name-on-li-3),
::view-transition-group(list-item-name-on-li-4),
::view-transition-group(list-item-name-on-li-5),
::view-transition-group(list-item-name-on-li-6) {
  animation-duration: var(--duration-name-on-li);
}
*/

.list-item-name-on-li {
  view-transition-class: name-on-li;
}

::view-transition-group(.name-on-li) {
  animation-duration: var(--duration-name-on-li);
}

/* section add class on item */

.dynamic-list__item--new-item {
  view-transition-name: new-list-item;
}

@keyframes slide-in {
  from {
    translate: -20%;
  }
}

::view-transition-group(new-list-item) {
  animation: slide-in ease-out both;
  animation-duration: var(--duration-class-on-item);
}
