/* section adding elements */

.dynamic-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.dynamic-list__item {
  width: 200px;
  padding: 1rem;
  background: var(--color-primary);
}

/* section basic */

.list-basic {
  view-transition-name: list-basic;
}

::view-transition-group(list-basic) {
  animation-duration: var(--duration-basic);
}

/* section basic-plus */

.list-basic-plus {
  /* view-transition-name: list-basic-plus; */
}

/* #list-item-basic-plus-1 {
  view-transition-name: list-item-basic-plus-1;
}
#list-item-basic-plus-2 {
  view-transition-name: list-item-basic-plus-2;
}
#list-item-basic-plus-3 {
  view-transition-name: list-item-basic-plus-3;
}
#list-item-basic-plus-4 {
  view-transition-name: list-item-basic-plus-4;
}
#list-item-basic-plus-5 {
  view-transition-name: list-item-basic-plus-5;
}
#list-item-basic-plus-6 {
  view-transition-name: list-item-basic-plus-6;
} */

::view-transition-group(list-item-basic-plus-1) {
  animation-duration: var(--duration-basic-plus);
}

::view-transition-group(list-item-basic-plus-2) {
  animation-duration: var(--duration-basic-plus);
}

::view-transition-group(list-item-basic-plus-3) {
  animation-duration: var(--duration-basic-plus);
}

::view-transition-group(list-item-basic-plus-4) {
  animation-duration: var(--duration-basic-plus);
}

/* section add class on item */

.dynamic-list__item--new-item {
  view-transition-name: new-list-item;
}

@keyframes slide-in {
  from {
    translate: -20%;
  }
}

::view-transition-group(new-list-item) {
  animation: slide-in ease-out both;
  animation-duration: var(--duration-class-on-item);
}
