.preview {
  anchor-scope: all; /* ensure that only positioned elements inside the same .preview are allowed to tether to anchors */
}

.anchor-elm,
.positioned-elm {
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--bg-color-primary);
}

.positioned-elm {
  background-color: rgba(0 0 0 / 0.9);
  color: white;
}

.samples-section-basics {
  .sample-basics {
    .anchor-elm {
      anchor-name: --my-anchor;
    }

    .positioned-elm {
      position: fixed;
      position-anchor: --my-anchor;
      position-area: bottom center;
      margin: 0.5rem;
    }
  }
}

.sample-anchor-scope {
  .anchor-scope {
    anchor-scope: --scoped-anchor;

    display: flex;
    flex-direction: column;
    gap: 12rem;
  }

  .anchor-elm {
    max-width: 15rem;
  }

  .anchor-elm1 {
    anchor-name: --non-scoped-anchor;
  }

  .anchor-elm2 {
    anchor-name: --scoped-anchor;
  }

  .positioned-elm {
    position: absolute;
    max-width: 10rem;
  }

  .positioned-elm--anchor1-inside,
  .positioned-elm--anchor1-outside {
    position-anchor: --non-scoped-anchor;
  }

  .positioned-elm--anchor2-inside,
  .positioned-elm--anchor2-outside {
    position-anchor: --scoped-anchor;
  }

  .positioned-elm--anchor1-inside,
  .positioned-elm--anchor2-inside {
    position-area: top right;
    background-color: var(--color-primary);
  }

  .positioned-elm--anchor1-outside,
  .positioned-elm--anchor2-outside {
    position-area: bottom right;
  }
}

.sample-position-area {
  .preview {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .position-area-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 1px;

    & > div {
      padding: 0.25rem;
    }
  }

  .position-area-grid-cell {
    border: 1px dotted var(--color-primary);
  }

  .anchor-elm {
    anchor-name: --my-anchor;
  }

  .positioned-elm {
    position: fixed;
    position-anchor: --my-anchor;
  }

  .positioned-elm--top-left {
    position-area: top left;
  }

  .positioned-elm--top {
    position-area: top; /* same as top center */
  }

  .positioned-elm--span-top-right {
    max-width: 6rem; /* without max-width, elm will run on one line, so you won't see effect of span */
    position-area: span-top right;
  }

  .positioned-elm--bottom-span-all {
    position-area: bottom span-all;
  }
}

.sample-anchor-function {
  .anchor-elm {
    anchor-name: --my-anchor;
    width: 10rem;
    height: 20rem;
  }

  .positioned-elm {
    position: fixed;
    position-anchor: --my-anchor;
  }

  .positioned-elm--top-right {
    top: anchor(top);
    left: anchor(right);
  }

  .positioned-elm--center-perc {
    bottom: anchor(center);
    left: anchor(75%);
  }

  .positioned-elm--calc {
    top: calc(anchor(center) + 1rem);
    left: calc(anchor(left) + 1rem);
  }

  .positioned-elm--bottom-right {
    bottom: anchor(bottom);
    right: anchor(right);
  }
}

.samples-section-popover {
  .preview {
    anchor-scope: all;
  }

  .sample-default {
    .anchor-elm {
      anchor-name: --my-anchor;
    }

    .popover {
      position: fixed;
      position-anchor: --my-anchor;
      bottom: calc(anchor(top) + 0.5rem);
      left: anchor(center);
      translate: -50% 0;
    }
  }

  .sample-override {
    .anchor-elm {
      anchor-name: --my-anchor;
    }

    .popover {
      position: fixed;
      position-anchor: --my-anchor;
      inset: auto; /* override UA stylesheet's inset: 0 */
      margin: 0; /* override UA stylesheet's margin: auto */
      bottom: calc(anchor(top) + 0.5rem);
      left: anchor(center);
      translate: -50% 0;
    }
  }

  .anchor-elm-override {
    anchor-name: --my-anchor-override;
  }

  .popover-override {
    position: fixed;
    position-anchor: --my-anchor-override;
    inset: auto; /* override browser stylesheet's inset: 0 */
    margin: 0; /* override browser stylesheet's margin: auto */
    bottom: calc(anchor(top) + 0.5rem);
    left: anchor(center);
    translate: -50% 0;
  }
}
