.reset-wrapper {
  position: sticky;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
}

.resizer {
  resize: inline;
  overflow: hidden;
  border-right: 1px dotted var(--color-primary);
  padding-right: 0.75rem;
  padding-bottom: 0.75rem; /* needed for resize to work */

  &[data-resizer-size] {
    resize: both;
  }
}

[class*='container'] {
  border: 2px dashed var(--color-primary);
  padding: 2px;
}

.item {
  border: 1px solid currentcolor;
  padding: 2rem;
}

.section-basics .sample-inline-size {
  .item-container {
    container-type: inline-size;
  }

  .item {
    border-color: var(--color-secondary);
    background-color: var(--bg-color-secondary);
  }

  @container (min-width: 30rem) {
    .item {
      border-color: var(--color-primary);
      background-color: var(--bg-color-primary);
    }
  }
}

.section-basics .sample-size {
  .resizer {
    height: 15rem;
  }

  .item-container {
    container-type: size;
    height: 100%;

    &.item-container-no-height {
      height: auto;
    }
  }

  .item {
    height: 100%;
    border-color: var(--color-secondary);
    background-color: var(--bg-color-secondary);
  }

  @container (min-width: 30rem) {
    .item {
      border-color: var(--color-primary);
      background-color: var(--bg-color-primary);
    }
  }

  @container (min-height: 10rem) {
    .item {
      background: linear-gradient(var(--bg-color-secondary), var(--bg-color-primary));
    }
  }
}

.section-basics-flex {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .item-container {
    container-type: inline-size;
    flex: 1 1 10rem; /* 10rem to force wrap */
  }

  .item {
    border-color: var(--color-secondary);
    background-color: var(--bg-color-secondary);
  }

  @container (min-width: 20rem) {
    .item {
      border-color: var(--color-primary);
      background-color: var(--bg-color-primary);
    }
  }
}

.section-basics-grid {
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 0.5rem;
  }

  .item-container {
    container-type: inline-size;
  }

  .item {
    border-color: var(--color-secondary);
    background-color: var(--bg-color-secondary);
  }

  @container (min-width: 20rem) {
    .item {
      border-color: var(--color-primary);
      background-color: var(--bg-color-primary);
    }
  }

  .sample-size {
    .items {
      display: grid;
      grid-template-rows: 7.5rem;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      gap: 0.5rem;
    }
    .item-container {
      container-type: size;
    }
  }
}
