.reset-wrapper {
  position: sticky;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
}

.resizer {
  resize: inline;
  overflow: hidden;
  border-right: 1px dotted var(--color-primary);
  padding-right: 0.75rem;
  padding-bottom: 0.75rem; /* needed for resize to work */
}

[class*='container'] {
  border: 2px dashed var(--color-primary);
  padding: 2px;
}

.item {
  border: 1px solid currentcolor;
  padding: 2rem;
}

.section-basics {
  .item-container {
    container-type: inline-size;
  }

  .item {
    border-color: var(--color-secondary);
    background-color: var(--bg-color-secondary);
  }

  @container (min-width: 30rem) {
    .item {
      border-color: var(--color-primary);
      background-color: var(--bg-color-primary);
    }
  }
}

.section-basics-flex {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .item-container {
    container-type: inline-size;
    flex: 1 1 10rem; /* 30ch to force wrap */
  }

  .item {
    border-color: var(--color-secondary);
    background-color: var(--bg-color-secondary);
  }

  @container (min-width: 20rem) {
    .item {
      border-color: var(--color-primary);
      background-color: var(--bg-color-primary);
    }
  }
}

.section-container-type {
}
