.section-1 {
  .preview {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .container {
    container-type: inline-size;
    border: 1px dashed;
  }

  .article {
    flex: 1 1 30ch;
    padding: 1rem;
    font-size: 1rem;
  }

  @container (min-width: 200px) {
    .article {
      color: red;
    }
  }

  @container (min-width: 200px) {
    article {
      padding: 2rem;
      font-size: 1.25rem;
    }

    .container:nth-child(odd) > article {
      border: 1px solid;
    }
  }
}

.section-container-type {
}
