:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--bg-color-code);
}

pre:has(code[class*='language-']) {
  position: relative;
  margin: 0;

  &::before {
    position: absolute;
    right: 1rem;
    top: 0.25rem;
    font-size: 0.75rem;
    opacity: 0.5;
  }
}

pre:has([class*='language-js'])::before {
  content: 'js';
}

pre:has([class*='language-json'])::before {
  content: 'json';
}

pre:has([class*='language-css'])::before {
  content: 'css';
}

pre:has([class*='language-html'])::before {
  content: 'html';
}
