:root {
  --sample-width: 200px;
  --samples-per-row: 2;
  --samples-column-width: calc(2 * var(--sample-width) + var(--samples-column-gap));
}

.o-content-width {
  margin: 0 auto;
  max-width: 95vw;
}

.samples-section {
  /*
	In most explainers:
	.samples-section
		.samples
			.sample
				.explanation
	Here:
		.samples-section
			.samples
				.sample
				.sample
		.explanation
	*/
  display: flex;
  flex-direction: row;
  gap: var(--samples-row-gap);

  @media (max-width: 50rem) {
    flex-direction: column;
  }
}
