html, body {
  height: 100%;
  background-color: #000;
}

.blob-wrapper {
  min-height: 100%;
  display: grid;
  place-content: center;
  background-color: #000;
  filter: blur(20px) contrast(40);
}

.blob {
  position: relative;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
}

.blob:last-child{
  animation: slide 10000ms ease-in-out infinite alternate;
}

@keyframes slide {
  0% {
    left: -200px;
  }
  
  100% {
    left: 200px;
  }
}